body{
  background: #fff;
  color: #222;
  font-family: Arial, sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fff;
}

li{
  float: left;
}

li a{
  display: block;
  color: black;
  text-align: center;
  padding: 8px 10px;
  font-size: 12px;
}

.active {
  background-color: #4CAF50;
}

#button{
  background-color: #4387fd;
  font-weight: bold;
  border: 1px solid #4285f4;
  color: #fff;
}

#products{
  top: 15px;
}
