body{
  background: #fff;
  font-family: Arial, sans-serif;
  color: #222;
}

.table {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fff;
}
.table1 {
  list-style-type: none;
  overflow: hidden;
  background-color: #fff;
}

.table li{
  float: left;
  display: flex;
}

.table a{
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: black;
  text-align: center;
  padding: 8px 10px;
  font-size: 13px;
}

.active {
  background-color: #4CAF50;
}

.center{
  text-align: center;
}

form{
  display: flex;
  border: 1px solid grey;
  border-radius: 100px;
  padding: 2px;
  width: 40%;
}

form.searchbox input{
  flex-grow: 2;
  width: 80%;
  background: #fff;
  border: red;
  box-shadow: none;
  border-radius: 24px;
  height: 44px;
}

form.searchbox button{
  float: left;
  width: 15%;
  padding: 10px;
  background: #fff;
  color: grey;
  font-size: 14px;
  border-radius: 100px;
}

/* .box{
  flex: 1;
  display: flex;
  padding: 5px 8px 0 16px;
  padding-left: 14px;
} */

li#button{
  background-color: #4387fd;
  font-weight: bold;
  border: 1px solid #4285f4;
  color: #fff;
}

li#botbutton{
  color: #5F6368;
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  font-size: 14px;
  padding: 0 16px;
  margin-left: 450px;
  float: left;
  margin-right: 8px;
  display: flex;
  justify-content: center;

}

li#botbutton2{
  color: #5F6368;
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  font-size: 14px;
  padding: 0 16px;
  margin-right: 450px;
  display: flex;
  justify-content: center;

}

#logo {
  height:233px;
  margin:auto;
  position: center;
  padding-top: 100px;
}
