body{
  background: #fff;
  color: #222;
  font-family: Arial, sans-serif;
}

ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fff;
  text-align: center;
}

li{
  float: left;
}

ul.nav li{
  display: inline;
  color: black;
  padding: 8px 10px;
  font-size: 13px;
}

.active {
  background-color: #4CAF50;
}

#button{
  background-color: #4387fd;
  font-weight: bold;
  border: 1px solid #4285f4;
  color: #fff;
}
